<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>blazeNew.fm</title>
</head>
<body>
    <header id='header'>
        <div class='container'>
            <div class='pull-right'>
                <a href="/auth/github" class='btn btn-facebook'>Go to login2</a>
            </div>
        </div>
    </header>
    <div class='container'>
        <div id='center' class='col-xs-18'>
            <h1 class='main-heading'>THIS IS PAGE 1</h1>
        </div>
    </div>
</body>
</html>