<script type="text/template" id="app-card-view-template">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">
                <i class="small <%= obj.color %> circle icon"
                    data-content="<%= obj.appstatus %>"
                    data-variation="inverted"
                    data-position="left center">
                </i>
                <span class="ui header"><%= obj.app_name %></span>
                <div class="right floated ui button <%= obj.isStarred ? 'starred' : 'unstarred' %>">
                    <span class="number"><%= obj.app_stars.length %></span>
                    <i class="icon star"></i>
                    <% if (obj.isStarred) { %>
                        <span class="text">Unstar</span>
                    <% } else { %>
                        <span class="text">Star</span>
                    <% } %>
                </div>
            </div>
            <div class="meta">
                <i class="icon wait small"></i>
                <span class="time"> <%= obj.date %></span>
            </div>
            <div class="description">
                <p><%= obj.app_description %></p>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="large purple <%= obj.icon %>"
                   data-variation="inverted" data-content="<%= obj.apptype %>"
                   data-position="left center">
                </i>
            </div>
            <div class="right floated author">
                <a href="/user/<%= obj.user.user_name %>">
                    <img class="ui avatar image" src="<%= obj.user.user_image %>" alt="<%= obj.user.user_name %>">
                    <%= obj.user.user_name %>
                </a>
            </div>
        </div>
    </div>
</script>

