<script type='text/template' id='ui-card'>
<div class="ui error form segment">
  <div class="ui error message">
    <div class="header">Action Forbidden</div>
    <p>You can only sign up for an account once with a given e-mail address.</p>
  </div>
  <div class="two fields">
    <div class="field">
      <label>App Name</label>
      <input placeholder="App Name" type="text">
    </div>
    <div class="field">
      <label>App Start</label>
      <input placeholder="App Start" type="text">
    </div>
  </div>
  <div class="ui green submit button">Submit</div>
</div>
</script>

<script type='text/template' id='ui-app'>
  <div class="ui segment">
    <div class="ui card">
      <div class="content">
        <i class="right floated like icon"></i>
        <i class="right floated star icon"></i>
        <div class="header">Cute Dog</div>
        <div class="extra content">
          <span class="like">
            <i class="like icon"></i>
            Like
          </span>
          <span class="star">
            <i class="star icon"></i>
            Favorite
          </span>
        </div>
      </div>
    </div>
  </div>
</script>
