<script type='text/template' id='ui-card'>
<div class="ui error form segment">
  <div class="ui error message">
    <div class="header">Action Forbidden</div>
    <p>You can only sign up for an account once with a given e-mail address.</p>
  </div>
  <div class="two fields">
    <div class="field">
      <label>App Name</label>
      <input placeholder="App Name" type="text">
    </div>
    <div class="field">
      <label>App Start</label>
      <input placeholder="App Start" type="text">
    </div>
  </div>
  <div class="ui green submit button">Submit</div>
</div>
</script>

<script type='text/template' id='ui-form'>
  <form class="<%= obj.className %> ui form">
    <div class="ui error message">
      <div class="header">Action Forbidden</div>
      <p>You can only sign up for an account once with a given e-mail address.</p>
    </div>
    <div class="one field">
      <div class="field" id="runtime"></div>
      <div class="field" id="appname"></div>
      <div class="field" id="giturl"></div>
      <div class="field" id="packages"></div>
      <div class="field" id="environment"></div>
    </div>
    <div id="submit"></div>
  </form>
</script>

<script type="text/template" id="ui-base-dropdown">
  <div class="field">
    <label><%= obj.label %></label>
    <div class="ui fluid language selection dropdown">
      <input type="hidden" name="language">
      <i class="dropdown icon"></i>
    <div class="default text"><%= obj.placeholder %></div>
    <div class="menu">
      <% _.each(obj.possibleVals, function (val, key) { %>
        <div class="item" data-value="<%= key %>"><i class="<%= val.icon %>"></i><%= val.displayName %></div>
      <% }); %>
    </div>
  </div>
</script>

<script type="text/template" id="ui-two-input-row">
  <div class="twelve wide column inline fields">
    <div class="<%= obj.keyColumnClass %>" id="key"></div>
    <div class="<%= obj.valColumnClass %>" id="val"></div>
    <div class="left floated one wide field" id="delete">
      <div class="ui icon button delete">
        <i class="trash outline icon"></i>
      </div>
    </div>
  </div>
</script>

<script type='text/template' id='ui-group-input-view'>
  <div class="field">
    <div class='ui grid'>
      <div class="sixteen wide column">
        <div class="" id="add">
          <div class="ui right floated green basic icon button addRow">
            <i class="plus icon"></i>
            Add Env Variable
          </div>
        </div>
      </div>
    <div class='<%= obj.rowsClassName %>'></div>
  </div>
</script>
